documentation/BASGRA_N_User_Guide_ChangesFromBASGRA2014.html
documentation/BASGRA_N_User_Guide_ChangesFromBASGRA2014.org
documentation/BASGRA_N_User_Guide_ChangesFromBASGRA2014.pdf
documentation/BASGRA_diagrams.pptx
documentation/README_BASGRA_N_November2017.txt
documentation/README_BASGRA2017.txt
documentation/~$SGRA_N_UserGuide.docx
